
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 1.6rem 1.4rem;
}

.container{
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer{
    width: 4.8rem;
    height: 4.8rem;
    background-image: url("/assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}


.container__imagem{
    padding: 0.5rem;
}

.lista__menu{
    display: none; /* não ocupa espaço nenhum e desaparece */
    position: absolute;
    top:100%;
    width: 60vh;
}

.container__botao:checked ~.lista__menu{
    display: block; /*combinador css, se o container botão tiver check ele vai procurar outro que vem depois dele(lista__menu) e vai colocar display block nele*/
}

.lista__menu__titulo,
.lista__menu__item{
    padding: 1rem;
    background-color:var(--branco);
    
}

.lista__menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}



.lista__menu__link{
    background:var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    
}

.container__titulo,.opcoes__container,.container__texto,.container__botao{
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../assets/menu_black_24dp\ 1.png");
}

.container__botao:checked ~ .container__rotulo{
    background-color:var(--azul-escuro);
}



@media screen and (min-width: 1024px){

.cabecalho{
    padding: 0 8rem;
}
    
.container__titulo,
.container__titulo__negrito{
    font-size: 3.0rem;
    font-family: var(--fonte-titulo);
}   

.container__titulo{
    font-weight: 400;
    display: block;
    
}

.container__titulo__negrito{
    font-weight: 700;
}


.opcoes__container{
    display: flex;
    align-items: center;
}

.lista__menu__item{
    text-transform: uppercase;
    color: black;
}


.opcoes__botao:checked ~ .lista__menu{
    display: block;
    width: auto;
}

.opcoes__botao,.container__texto,.cabecalho__container__favoritos,.cabecalho__menu-hamburguer{
    display: none;
}

.opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
    background: var(--azul-escuro);
    color: var(--branco);
}

.opcoes__item{
    padding: 2rem 1rem;
}

.lista__menu__item:hover{
    background: var(--azul-escuro);
}

.lista__menu__item:hover > .lista__menu__link{
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
}


}

@media screen and (min-width: 1728px){
    
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 2rem;
        color: black;
        
    }

    .cabecalho{
        padding: 0 2rem;
    }

    .opcoes__container{
        margin-right: 60rem;
    }

    .container__texto{
        display: block;
        font-size: 1.8rem;
    }

    
}